<%- include('partials/header') -%>

<div class="container mt-4 align-items-center justify-content-center">

    <h1 class="display-5" style="color: #1d2d51;">Moneda AUNAR - Módulo Administrativo</h1>
    <h3 class="display-5" style="color: #1d2d51;">Las siguientes son las actividades programadas:</h3>

<div class="jumbotron jumbotron-fluid">
    <div class="row justify-content-md-center activities">
        <% for(let i=0; i< data.length;i++){ %>
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points"><%= data[i].puntos_actividad%></span></h5>
                    <h5 class="card-title" style="color: #1d2d51; font-weight: bolder;"><%= data[i].desc_actividad%></h5>
                    <span class="text-secondary"><%= data[i].fecha_Actividad.toISOString().slice(0,10); %></span>
                    <p class="card-text"><%= data[i].desc_actividad %></p>
                    <a href="/registro" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i>Editar</a>
                </div>
            </div>
        </div>
<% } %>
</div>



<%- include('partials/footer') -%>
